.details-page {
    width: 100%;
    height: 100%;
  }
  
  .details-page-wrapper {
    padding-top: 200px;
  }

  .details-right-top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
  }
.eb-de_countdown {
    font-size: .8rem;
   
    background: #212428;
    padding: 2px 6px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 2px solid #218cff;
    z-index: 1;
    color: #fff;
    margin-top: 1rem;
    width: 80px;
}

.details-right-center {
    width: 100%;
    border: 2px solid #c3976a;
    height: 300px;
    background-color: #ffffff14;
    border-radius: 10px;
   margin-bottom: 20px;
}
.details-right-center-1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
}

.details-right-center-2 {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.details-right-center-3 {
  width: 100%;
  text-align:center;
  font-weight: bold;
  color: #fff;
}

.details-right-center-4 {
  width: 95%;
  margin: 0 auto;
 text-align: end;
 padding-top: 10px;
}
.details-right-center-5 {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.details-collection-overview li {
  color:#efe7e7;
  font-weight: 300;
 margin-left: 28px;
 font-size: 17px;
line-height: 30px;
list-style: circle;
}