.custom-dot-list-style button{
   
    background: #c3976a;
    padding: 5px !important;
    border: 1px solid white;
    }
    .react-multi-carousel-dot.react-multi-carousel-dot--active button{
    background: #c3976a !important;
    padding: 3px !important;
    border: 1px solid white;
    }

    .react-multiple-carousel__arrow--left {
        display: none;
    }
    .react-multiple-carousel__arrow--right {
        display: none;
    }